*{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: black;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    font-weight: 700;
    text-decoration: none;
}
span {color: #CF212A;font-weight: 800;}
html.body {
    width: 100%;
}
html {
    scroll-behavior: smooth;
  }
/*  video::-webkit-media-controls-timeline {display: none !important; }
  video::-webkit-media-controls-current-time-display {display: none !important ;}
  video::-webkit-media-controls-timeline-container {display: none !important ;}
  video::-webkit-media-controls-time-remaining-display{display: none !important;} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body {
    background: #E8E9EE;
    position: relative;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form input , select, option{
    margin: 5px 0px;
    padding: 12px 20px;
    outline: none;
    width: 100%;
    border: 1px solid #888888;
    border-radius: 5px;
    transition: 200ms;
    background: none;
    opacity: .8;
}
.form input::placeholder , select    {
    font-weight: 500;
    color: #222222;
}
.form input:focus , select:focus{
    outline: 1px solid red;
}
.form {
    position: fixed;
    width: 100%;
    top: 0;
    transition: 500ms;
    opacity: 0;
    visibility: hidden;
    left: 0;
    height: 100%;
    z-index: 1000;
    display: flex;justify-content: center;align-items: center;
    background: #fdfdfd;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.form_toggle {
    opacity: 1;
    visibility: visible;
}
.form_text span, .form_text{
    color: #111111;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}
.form .form_text span:nth-child(1):before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    box-shadow: 0px 0px 10px red;
    width: 100%;
    height: 4px;
    background: red;
    transform: translateY(-50%);
}
.form .form_text span:nth-child(2){
    color: white;
    background: red;
    padding: 3px 10px;
}
.form_image {
    height: 250px;
    z-index: 3;
}
option:hover {
    background: #000;
}
.form_image img {
    height: 100%;
}
.form_container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form button {
    min-width: 100%;
    max-width: 100%;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 20px;
    background: red;
    border-radius: 5px;
    outline: none;
    transition: 300ms;
    border: none;
    color: white;
}
.form button:hover {
    box-shadow: 0px 0px 20px red;
}
.form .cross {
    position: absolute;
    top: 50px;
    background: rgba(255,0,0,.8);
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
    height: 40px;
    display: flex;justify-content: center;align-items: center;
    right: 50px;
}
.form .cross:hover {
    box-shadow: 0px 0px 20px red;
}
.form .cross span{
    display: block;
    width: 28px;
    border-radius: 10px;
    height: 4px;
    position: absolute;
    transform: rotate(180deg);
    margin: 3px 0px;
    background: white;
}
.form .cross span:nth-child(1) {
    transform: rotate(45deg);
}
.form .cross span:nth-child(2){
    transform: rotate(-45deg);
}
.header_text {
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.header_text * {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.video {
    position: relative;
    width: 80%;
   margin: 30px auto 0px auto;
    
}
#city {
display: none;}
video{
border-radius: 5px;
width: 100%;
}
.play_button {
    display: flex;
    align-items: center;justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
    background: #CF212A;
    transform: translate(-50%,-50%);
}
.play_button:hover {
    box-shadow: 0px 0px 20px #CF212A;
}
.play_button img {
    margin-left: 3px;
    width: 50%;
}
#book_image img{
    max-width: 700px !important;
}
.video_button {
    width: 100%;
    height: 80px;
    cursor: pointer;
    max-width: 700px;
    margin: 15px auto;
    border-radius: 5px;
    background: #2C6AA3;
    padding: 10px 10px;
    color: white;
    transition: 300ms;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: flex;justify-content: center;align-items: center;
}
.video_button:hover {
    box-shadow: 0px 0px 20px #2C6AA3;
}
.header_text_2 {
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.header_text_2 * {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.devices {
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    display: flex;justify-content: center;align-items: center;
}
.devices img {
    width: 60%;
    max-width: 700px;
}
.image_p {
    width: 100%;
    text-align: center ;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 700;    
    opacity: .8;
}
.image_button {
    width: 100%;
    height: 80px;
    cursor: pointer;
    max-width: 700px;
    margin: 25px auto;
    border-radius: 5px;
    background: #2C6AA3;
    padding: 10px 10px;
    color: white;
    transition: 300ms;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: flex;justify-content: center;align-items: center;
}
.image_button:hover {
    box-shadow: 0px 0px 20px #2C6AA3;
}
.header_text_3 {
    text-align: center;
}
.header_text_3 h2 , .header_text_3 h2 span{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(to right, hsl(0, 99%, 55%) 0, 40%, hsl(0, 0%, 0%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s infinite linear;
}

@keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 1000px;
    }
  }

.header_text_3 h3 , .header_text_3 h3 *{
    font-size: 35px;
    margin-top: 10px;
    font-weight: 600;
}
.header_text_3 p {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
}
.list h3 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
.list ul {
    margin-top: 30px;
    padding: 0px 50px;
}
.list li {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.list li img {
    height: 20px;
    margin-right: 10px;
}
.fast_contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.fast_contact h4 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.fast_contact_social_media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fast_contact_social_media a {
    display: flex;align-items: center;
    margin: 10px 20px;
    transition: 400ms;
}
.fast_contact_social_media a:hover {
    transform: scale(1.05);
}
.fast_contact_social_media a img{
    margin-right: 7px;
}
.footer_button {
    width: 100%;
    height: 80px;
    cursor: pointer;
    max-width: 700px;
    margin: 30px auto 40px auto;
    border-radius: 5px;
    background: rgb(255, 15, 15);
    padding: 20px 10px;
    color: white;
    transition: 300ms;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: flex;justify-content: center;align-items: center;
}
.footer_button:hover {
    box-shadow: 0px 0px 20px rgb(255, 15, 15) !important;
}
.footer_button_text {
    display: flex;align-items: center;justify-content: center;
    color: white;
    flex-direction: column;
}
.footer_button_text * {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
.footer_button_text p {
    font-weight: 500;
    opacity: .8;
    font-size: 15px;
}
.footer_button:hover {
    box-shadow: 0px 0px 20px #2C6AA3;
}
footer {
    width: 100%;
    margin-top: 30px;
    background: linear-gradient(to right bottom, #000,#111);
}
footer .footer_container {
    width: 100%;
    height: 100%;
    display: flex;align-items: center;flex-direction: column;
    padding: 40px 10px;
}
footer .footer_container img {
    width: 230px;
    margin: 0px 0px 10px 0px;
}
footer p {
    color: white;
    margin: 10px 0px;
    width: 80%;
    font-size: 15px;
    opacity: .9;
    font-weight: 400;
    text-align: center;
}
@media(max-width:500px){
    * {
        font-size: 15px;
    }
    .header_text *, .header_text_2 *, .header_text_3 h2,.header_text_3 h2 span,.header_text_3 h3,.header_text_3 h3 *, .list h3{
        font-size: 25px;
    } 
    .video {
        width: 100%;
        margin-top: 17px;
    }
    .header_text_3 p {
    font-size: 20px;
    }
    .play_button {
        width: 35px;
        height: 35px;
    }
    .list ul {
        padding: 0px 10px;
    }
    .list ul li {
        margin: 20px 0px;
    }
    .footer_button_text h4 {
        font-size: 15px;
    }
    .footer_button_text p {
        font-size: 12px;
    }
    .devices img {
        width: 100%;
    }
    .form .cross {
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
    }
    .form .cross span {
        width: 23px;
    }
    footer p {
        font-size: 12px;
    }
    .avatar img {
        width: 80px;
    }
    footer .footer_container img {
        margin: 0px 0px 20px 0px;
    }
    
    .fast_contact_social_media h4 {
        font-size: 25px;
    }
}